<h1> A list of all the transactions </h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Value</th>
    <th>Merchant name</th>
    <th>Tag name</th>
    <th>Share of all spending</th>
    <th></th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%=transaction.transaction_date%></td>
    <td><%=transaction.description%></td>
    <td>$<%=CurrencyFormatter.separate_comma(transaction.value.round(0))%></td>
    <td><%=transaction.merchant.name%></td>
    <td><%=transaction.tag.name%></td>
    <td><%=(transaction.value / Transaction.total_all_transactions * 100).round(1) %>%</td>
    <td>
      <form action="/transactions/<%=transaction.id%>/edit" method="get">
      <input id="button" type="submit" value="edit">
      </form>
    </td>
    <td>
      <form action="/transactions/<%=transaction.id%>/delete" method="post">
      <input id="button" type="submit" value="delete"/>
      </form>
    </td>
  </tr>
  <tr></tr>
  <% end %>
  <td><b>TOTAL</b></td>
  <td></td>
  <td><b>$<%=(Transaction.total_all_transactions / 1_000_000).round(2)%>m</b></td>
  <td></td>
  <td></td>
  <td><b>100%</b></td>
  <td></td>
  <td></td>
</table>


<form action="/transactions/new" method="link">
<input type="submit" VALUE="Add a new transaction" id="button"/>