<h1> A list of all the transactions </h1>

<% @transactions.each do |transaction| %>
<p> Merchant id: <%= transaction.merchant_id  %> </p>
<p> Tag id: <%= transaction.tag_id  %> </p>
<p> Value: £<%=transaction.value  %>
<p> Description: <%=transaction.description  %></p>
<form action="/transactions/<%=transaction.id%>/delete" method="post">
  <input type="submit" value="delete"/>
</form>
<form action="/transactions/<%=transaction.id%>/edit" method="get">
  <input type="submit" value="edit">
</form>
<hr/>
<% end %>

<button> <a href="/transactions/new">Add a new transaction</a>
</button>