<h1> A list of all the transactions </h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th>Value</th>
    <th></th>
    <th>Merchant name</th>
    <th></th>
    <th>Tag name</th>
    <th></th>
    <th>Share of all spending</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%=transaction.description%></td>
    <td></td>
    <td>£<%=transaction.value%></td>
    <td></td>
    <td><%=transaction.merchant.name%></td>
    <td></td>
    <td><%=transaction.tag.name%></td>
    <td></td>
    <td><%=(transaction.value / Transaction.total_all_transactions * 100).round(1) %>%</td>
    <td>
      <form action="/transactions/<%=transaction.id%>/edit" method="get">
      <input type="submit" value="edit">
      </form>
    </td>
    <td></td>
    <td>
      <form action="/transactions/<%=transaction.id%>/delete" method="post">
      <input type="submit" value="delete"/>
      </form>
    </td>
  </tr>
  <tr></tr>
  <% end %>
  <td></td>
  <td></td>
  <td><b>£<%=Transaction.total_all_transactions.round(2)%></b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><b>100%</b></td>
</table>


<button> <a href="/transactions/new">Add a new transaction</a>
</button>